@import 'config.scss';

@keyframes spawn {
  from {
    right: 200vw;
  }
  to {
    right: 0;
  }
}
@keyframes showDobles {
  from {
    width: 0rem;
    height: 0rem;
  }
  to {
    width: 5rem;
    height: 5rem;
  }
}

.show {
  animation-name: showDobles;
  display: block;
}
.hidden {
  display: none;
}
// article::before {
//   content: ' ';
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;

//   opacity: 0.97;
//   transform-style: preserve-3d;
//   backface-visibility: hidden;
// }
article {
  box-shadow: 0px 15px 25px -20px $color-variacion;
  animation-name: spawn;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: unset;
  animation-direction: normal;
  animation-fill-mode: forwards;

  position: relative;
  right: 200vw;
  perspective: 250rem;
  width: 90%;
  height: 450px;
  margin: 10px auto;
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
  perspective-origin: center;
  .containerF {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    backface-visibility: visible;
    box-shadow: -8px 3px 8px -5px rgba(50, 50, 50, 0.32);
    transition: all 2s;
    transform: translateZ(40px);
    background-image: url('https://i.imgur.com/y5Bb3B4.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .containerB {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: visible;
    box-shadow: -8px 3px 8px -5px rgba(50, 50, 50, 0.32);
    z-index: 1;
    background-image: url('https://i.pinimg.com/originals/21/5c/7f/215c7fdca6033092baa04b35c17466bd.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  img {
    width: 55%;
    height: auto;
    border-radius: 0.7rem;
  }
  h1 {
    text-align: center;
    min-width: 60%;
    max-width: 88%;
    color: $color-variacion;
  }
  p {
    width: 85%;
    max-height: 38%;
    overflow-y: hidden;
    text-align: justify;
    color: white;
  }
  a {
    width: fit-content;
    @include botonBlogs();
    color: white;
  }
  .back {
    background-image: url('https://i.imgur.com/y5Bb3B4.gif');
  }
  .tagsContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    row-gap: 5rem;
    column-gap: 2rem;
  }
}

.leftSide{
  position: absolute;
  display: block;
background-color: #3a304f;
  width: 42px;
  height: 100%;
  transform: rotateY(-90deg) translateZ(21px) translateX(21px) ;
}
.rightSide{
  position: absolute;
  display: block;
  background-color: #3a304f;
  width: 42px;
  height: 100%;
  transform: rotateY(-90deg) translateZ(-21px) translateX(21px) ;
  right: 0;
  top: 0;
}

.topSide{
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #3a304f;
  transform: rotateX(90deg) translateY(20px) translateZ(20px);
}

.bottomSide{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #3a304f;
  transform: rotateX(90deg) translateY(20px) translateZ(-20px);

}