@import 'config.scss';

.main__principal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-top: 6rem;
  margin-bottom: 1rem;
  padding:  2rem 0;
  background-color: $color-gris;
  img {
    width: 80%;
    height: 70%;
    border-radius: 0.5rem;
    margin: 2rem 0;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    h1 {
      text-align: center;
      color: $color-principal;
    }
    p {
      margin: 2rem 0;
      text-align: justify;
      color: $color-secundario;
      opacity: 1;
      line-height: 1.3em;
      max-height: 9.1em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a {
      margin: 1rem 0;
      @include botonBlogs();
      color: $color-principal;
    }
  }
}

.main__blogs {
  h2 {
    width: 80%;
    text-align: center;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.466);
    margin: 4.5rem auto;
    padding-bottom: 1.5rem;
    color: $color-principal;
  }
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem 0;
    justify-items: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding-bottom: 2rem;
  }
}
