$Fuente1:'Zen Dots', cursive;
$Fuente2: 'Archivo', sans-serif;
:root{
    --color-claro:white;
    --color-principal:black;
    --color-variacion:#47cfac;
    --color-variacionTrasparente:#47cfad88;
    --color-gris:#e6e9ed;
}

$boxShadow:9px 4px 15px 0px rgba(50, 50, 50, 0.32);

$color-claro:var(--color-claro);
$color-principal:var(--color-principal);
$color-variacion:var(--color-variacion);
$color-gris:var(--color-gris);
$color-variacionTrasparente:var(--color-variacionTrasparente);
@mixin backgroundConfig(){
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
@mixin icons($img){
    display: inline-block;
    background-image: url($img);
    @include backgroundConfig();
    width: 40px;
    height: 40px;
    @media (min-width: 1600px) {
        width: 50px;
        height: 50px;
    }
}

@mixin boton(){
    border: none;
    border-radius: 7px;
    background-color:$color-variacion;
    color: $color-claro;
    text-align: center;
    text-decoration: none;
    padding: 1.5em 2em;
    font-family: $Fuente1;
    &:hover{
        filter: saturate(160%);
    }
}

@mixin botonBlogs(){
    display: inline-block;
    border-radius: 1rem;
    background-color: transparent;
    padding:1rem;
    text-decoration: none;
    color: black;
    border: solid #47cfac 1px;
    &:hover{
        background-color: #47cfac;
        color: white;
    }

}

h1{
    font-family: $Fuente1;
}
h2{
    font-family: $Fuente1;
}