@import './config.scss';
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 62.5%;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}
body {
  cursor: url('@/assets/img/cursors/cursor.png'),auto;
  font-family: $Fuente2;
  background-color: $color-claro;
  transition: background-color 1s ease-in;
  overflow-y: scroll;
  max-height: 100vh;

}
p {
  transition: background-color 1s ease-in;
}
div {
  transition: background-color 1s ease-in;
}
main {
  min-height: 69vh;
}
h1 {
  font-size: 1.2em;
  transition: background-color 1s ease-in;
}
h2 {
  font-size: 1.1em;
  transition: background-color 1s ease-in;
}
section {
  transition: background-color 1s ease-in;
}
input{
  cursor: url('@/assets/img/cursors/text.png'),auto;
}
a {
  color: $color-variacion;
  cursor: url('@/assets/img/cursors/pointer.png') 15 15,auto;
  &:hover {
    color: $color-variacionTrasparente;
  }
}

@keyframes newIMG {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  animation-name: newIMG;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: unset;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: $color-gris;
}
body::-webkit-scrollbar-thumb {
  background: $color-variacion;
  border-radius: 4px;

}
@media (min-width: 1600px) {
  * {
    font-size: 2.2rem;
  }
  a {
    font-size: 2.2rem;
  }
}
