@import "config.scss";
.pantalla{
    background-image: url(https://i.pinimg.com/originals/81/e2/28/81e2285225282c6dc6cbca2545da669a.jpg);
    width: 100vw;
    background-position:center;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1
}
.main__boton-index{
    @include boton();    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);   
}