@import "../config.scss";

@keyframes downloadAnimation {
    from {
    }
    to {
      transform: rotate(360deg);
    }
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .downloading {
    overflow: hidden;
    animation-name: downloadAnimation;
    animation-duration: 1.1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: solid 4px $color-variacion;
    border-right: solid 4px transparent;
    
  }